@model IEnumerable<BrewTime.Application.DTOs.ComboDTO>

<h1>Combos</h1>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio especial</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.CategoriaNombre</td>
                <td>
                    @item.PrecioEspecial.ToString("C", new System.Globalization.CultureInfo("es-CR"))
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.ComboID"
                       class="btn btn-sm btn-primary">
                        Ver detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>